.body {
    color:black;
}

.logo {
    margin-left: 60px;
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    gap: 20px;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 60px;
}

li {
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    height: 72px;
    color: white;    
}